{% macro addfield(xfield, value=True) -%}

<div class="form-group{% if xfield.errors %} error{% endif %}">
    <label for="{{ xfield.name }}" class="col-md-2">{{ xfield.label.text }}
      {% if xfield.flags.required %}<abbr title="Required field.">*</abbr>{% endif %}</label>
    <div class="controls col-md-4" id="{{ xfield.name }}-div">
      <input id="{{ xfield.name }}" name="{{ xfield.name }}" class="form-control" type="{{ xfield.widget.input_type }}"{% if value %} value="{{ xfield.data|replace(None,'') }}"{% endif %}>
      {% if xfield.errors -%}
        {% for error in xfield.errors %}<span class="alert help-inline">{{ error }}</span>{% endfor %}
      {% endif -%}
    </div>
  </div>
{% endmacro -%}

{% macro render_pagination(pagination, endpoint) %}
<div class="pagination">
  <ul>
    {% set show_next=True -%}
    {% for page in pagination.iter_pages(right_current=3, left_current=0, left_edge=1, right_edge=1) -%}
    {% if page -%}
      {% if page < pagination.page -%}
      <li><a href="{{ url_for(endpoint, page=pagination.prev_num) }}">&laquo;</a></li>
      {% set show_next=False -%}
      {% else -%}
      <li{% if page == pagination.page %} class="active"{% endif %}><a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a></li>
      {% endif -%}
    {% else -%}
      {% if show_next -%}
      <li class="active"><a>…</a></li>
      {% endif -%}
      {% set show_next=True -%}
    {% endif -%}
    {% endfor -%}
  </ul>
</div>
{% endmacro %}
