{% extends 'layout.html' %}

{% block js %}
{% endblock %}

{% block header %}
Welcome to {{ config['SITE_NAME'] }}
{% endblock %}

{% block body %}
<div class="row">
  <div id="content" class="col-md-8">
    <p>&nbsp;</p>
    <h3>
      Add your weight every day to a database for later evaluation.
    </h3>
    <p>&nbsp;</p>
    <p>
      <a class="btn btn-mini btn-primary" href="{{ url_for('.weight', wid='add') }}"><span class="glyphicon glyphicon-plus"></span> Add Weight</a>
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</div>
{% endblock %}
