{% extends 'layout.html' %}

{% block js %}
{% endblock %}

{% block header %}
Welcome to {{ config['SITE_NAME'] }}
{% endblock %}

{% block body %}
  <div id="content" class="span8">
    <p>&nbsp;</p>
    <h3>
      Add your weight every day to a database for later evaluation.
    </h3>
    <p>&nbsp;</p>
    <p>
      <a class="btn btn-mini btn-primary" href="{{ url_for('.weight', wid='add') }}"><i class="icon-plus icon-white"></i> Add Weight</a>
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
{% endblock %}
