<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Weight App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
  </head>

  <body>

{% macro nav_link(endpoint, caption) -%}
              <li{% if endpoint == request.endpoint %} class=active{% endif %}><a href={{ url_for(endpoint) }}>{{ caption }}</a>
{% endmacro -%}

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Weight App</a>
	  <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> {{ user }}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/profile">Profile</a></li>
              <li class="divider"></li>
              <li><a href="/logout">Sign Out</a></li>
            </ul>
          </div>
          <div class="nav-collapse">
            <ul class="nav">
	      {{ nav_link('weight', 'Weight') }}
              <li{% if "/weight/add/" == request.endpoint %} class=active{% endif %}><a href={{ url_for("weight", wid="add") }}>Add Weight</a>
              <li><a href="/scale">Scales</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <div id="flash" class="span12">
      {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-block alert-{{ category }}">
                    <a class="close" data-dismiss="alert" href="#">×</a>
                      {{ message }}
                </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>

      <div id="content" class="span12">
	<h1>{% block header %}{% endblock %}</h1>
        {% block body %}{% endblock %} 
      </div>

       <footer class="footer">
          <p class="pull-right"><a href="#">Back to top</a></p>
          {%- block footer %}
          Copyright {{ today().strftime("%Y") }}, {{ config['SITE_NAME'] }}
          {%- endblock %}
        </footer>

    </div> <!-- /container -->

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
    <script type="text/javascript">
    {% block js %}
    {% endblock %}
    </script>

  </body>
</html>
