{% extends 'layout.html' %}

{% from '_libs.html' import addfield %}

{% block js %}
$().ready(function()
{
{% if not form.username.data -%}
$('#username-div input').focus();
{% else -%}
$('#password-div input').focus();
{% endif -%}
});
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
  <div id="content" class="col-md-12">
<form role="form" method="POST" action="/login" class="well form-horizontal">

  <legend>Login</legend>

  {{ addfield(form.username) }}

  {{ addfield(form.password, value=False) }}
        
  <div class="form-group">
    <label for="remember" class="control-label col-md-2">Remember me</label>
    <div class="controls col-md-4">
      <input id="remember" name="remember" type="checkbox" value="y"{% if form.remember.data %} checked="checked"{% endif %}>
    </div>
  </div>

  {{ form.hidden_tag() }}

  <div class="form-actions" id="submit-div">
    <label class="control-label col-md-2"></label>
    <input id="submit" name="submit" type="submit" value="{{ form.submit.label.text }}" class="btn btn-primary">
  </div>
</form>
 </div>

{% endblock %}
