{% extends 'layout.html' %}

{% from '_libs.html' import addfield %}

{% block js %}
$().ready(function()
{
$('#weight-div input').focus();

$('#hidefields').collapse({
  toggle: true
})

$('div.btn-group[data-toggle-name=*]').each(function(){
    var group   = $(this);
    var form    = group.parents('form').eq(0);
    var name    = group.attr('data-toggle-name');
    var wfield  = $('input[name="weight"]', form);
    var w_int = Math.floor(wfield.val());
    var w_frac = Math.floor((wfield.val()*10 - w_int*10));
    $('button', group).each(function(){
      var button = $(this);
      if(name=='weight-int') {
        button.live('click', function(){
          var xfrac = Math.ceil((wfield.val()*10 - Math.floor(wfield.val())*10)) / 10;
          wfield.val(parseInt($(this).val()) + parseFloat(xfrac));
         });
        // init
        if(button.val() == w_int) {
          button.addClass('active');
        }
      }
      if(name=='weight-frac') {
        button.live('click', function(){
          var xint = Math.floor(wfield.val());
          wfield.val($(this).val()/10 + xint);
        });
        // init
        if(button.val() == w_frac) {
          button.addClass('active');
        }
      }
    });
  });


});
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
  <div id="content" class="span6">
<form method="POST" action="{{ request.path }}" class="well form-horizontal">

  {% set xfield=form.weight %}
  <div class="clearfix control-group{% if xfield.errors %} error{% endif %}">
    <label for="{{ xfield.name }}" class="control-label">{{ xfield.label.text }}
      {% if xfield.flags.required %}<abbr title="Required field.">*</abbr>{% endif %}</label>
    <div class="controls" id="{{ xfield.name }}-div">
      <div style="line-height: 0px;">
	<div class="btn-group" data-toggle-name="weight-int" data-toggle="buttons-radio">
	  {% for i in wrange -%}
	  <button type="button" value="{{ i }}" class="btn" data-toggle="button">{{ i }}</button>
	  {% endfor %}
	</div><br/>
	<div class="btn-group" data-toggle-name="weight-frac" data-toggle="buttons-radio">
	  {% for i in range(0,10) -%}
	  <button type="button" value="{{ i }}" class="btn" data-toggle="button">.{{ i }}</button>
	  {% endfor %}
	</div><br/>
      </div>
      <input id="{{ xfield.name }}" name="{{ xfield.name }}" type="{{ xfield.widget.input_type }}" value="{{ xfield.data|replace(None,'') }}" style="width:60px;">
      {% if xfield.errors -%}
        {% for error in xfield.errors %}<span class="alert help-inline">{{ error }}</span>{% endfor %}
      {% endif -%}


    </div>
  </div>

  {% set xfield=form.wdate %}
  <div class="clearfix control-group{% if xfield.errors %} error{% endif %}">
    <label for="{{ xfield.name }}" class="control-label">{{ xfield.label.text }}
      {% if xfield.flags.required %}<abbr title="Required field.">*</abbr>{% endif %}</label>
    <div class="controls" id="{{ xfield.name }}-div">
      <div class="input-prepend">
	<input id="{{ xfield.name }}" name="{{ xfield.name }}" type="date" value="{{ xfield.data|replace(None,'') }}">
	<span class="add-on"><i class="icon-calendar"></i></span>
      </div>
      {% if xfield.errors -%}
        {% for error in xfield.errors %}<span class="alert help-inline">{{ error }}</span>{% endfor %}
      {% endif -%}
    </div>
  </div>

<div id="hidefields" class="collapse in">
  {% set xfield=form.scale_name %}
  <div class="clearfix control-group{% if xfield.errors %} error{% endif %}">
    <label for="{{ xfield.name }}" class="control-label">{{ xfield.label.text }}
      {% if xfield.flags.required %}<abbr title="Required field.">*</abbr>{% endif %}</label>
    <div class="controls" id="{{ xfield.name }}-div">
      <div class="input-prepend">
	{{ form.scale_name() }}
      </div>
      {% if xfield.errors -%}
        {% for error in xfield.errors %}<span class="alert help-inline">{{ error }}</span>{% endfor %}
      {% endif -%}
    </div>
  </div>
  {{ addfield(form.comment) }}
</div>

  {{ form.hidden_tag() }}

  <div class="clearfix form-actions" id="submit-div">
    <input id="submit" name="submit" type="submit" value="{{ form.submit.label.text }}" class="btn btn-primary">
    <button type="button" class="btn .btn-small" data-toggle="collapse" data-target="#hidefields">
      additional fields
    </button>
  </div>
</form>
 </div>

{% endblock %}
